{% extends 'invoice/main.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file-import"></i>
            </span> Detail List Of Claim
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'add_bank' invoice.id %}" type="button"
                        class="btn btn-gradient-primary btn-icon-text">
                        <i class="mdi mdi-plus btn-icon-prepend"></i> Tambah Bank </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-3 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2>Nomor Invoice</h2>
                    <hr>
                    <div class="row">
                        <p>{{invoice.no_invoice}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2>Nama Vendor/Supplier</h2>
                    <hr>
                    <div class="row">
                        <p>{{invoice.nama_vendor}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2>Nominal</h2>
                    <hr>
                    <div class="row">
                        <p>Rp. {{nominal.nominal}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h2>Total Bank Transfer</h2>
                    <hr>
                    <div class="row">
                        <p>{{total_bank}} Rekening</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent List Of Claim</h4>
                    <div class="table-responsive">
                        <table class="table table-hover" id="myTable">
                            <thead>
                                <tr>
                                    <th> Nomor Rekening </th>
                                    <th> Nama Rekening </th>
                                    <th> Nama Bank </th>
                                    <th> Nominal </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for bank in bank %}
                                <tr>
                                    <td>{{bank.no_rekening}}</td>
                                    <td>{{bank.nama_rekening}}</td>
                                    <td>{{bank.nama_bank}}</td>
                                    <td>{{bank.nominal}}</td>
                                    <td><a href="{% url 'update_bank' bank.id %}"><button type="button"
                                                class="btn btn-inverse-primary btn-rounded btn-icon" title="Update"><i
                                                    class="mdi mdi-pencil"></i></button></a>
                                        <button type="button" class="btn btn-inverse-danger btn-rounded btn-icon"
                                            title="Hapus"><i class="mdi mdi-delete"></i></button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}