{% extends 'invoice/main.html' %}
{% block content %}
{% if request.user.is_superuser %}
<!-- Halaman Form SuperUser -->
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file-import"></i>
            </span> {{title}}
        </h3>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="post" class="forms-sample">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="">

                    {% for field in form %}
                    <div class=" form-group">
                        <label for="exampleInputName1">{{field.label}}</label>
                        {{field}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <button type="button" onclick="history.back()" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Halaman Form SuperUser -->
{% elif request.user.account.group_user == 'User Invoice' %}
<!-- Halaman Admin -->
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file-import"></i>
            </span> {{title}}
        </h3>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.status}}
                    <div class="form-group">
                        <label for="">Username</label>
                        {{form.user}}
                    </div>
                    <div class="form-group">
                        <label for="">Nomor List Of Claim</label>
                        {{form.no_invoice}}
                    </div>
                    <div class="form-group">
                        <label for="">Nomor Purchase Order</label>
                        {{form.no_pr}}
                    </div>
                    <div class="form-group">
                        <label for="">Vendor/Supplier</label>
                        {{form.nama_vendor}}
                    </div>
                    <div class="form-group">
                        <label for="">Supplier Site</label>
                        {{form.site_vendor}}
                    </div>
                    <div class="form-group">
                        <label for="">Deskripsi</label>
                        {{form.deskripsi}}
                    </div>
                    <div class="form-group">
                        <label for="">Email Notifikasi</label>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="">Attachment</label>
                        {% if invoice.get_attachment_url != None %}
                        <p style="font-size: 11px ;">
                            Currently : <a href="{{invoice.get_attachment_url}}" download>{{lampiran}}</a>
                        </p>
                        {% endif %}
                        {{form.attachment}}
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <button type="button" onclick="history.back()" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Halaman Admin -->
{% else %}
<!-- Halaman Department -->
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file-import"></i>
            </span> {{title}}
        </h3>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.status}}
                    {{form.user}}
                    <div class="form-group">
                        <label for="">Nomor List Of Claim</label>
                        {{form.no_invoice}}
                    </div>
                    {% if request.user.username == 'procurement' %}
                    <div class="form-group">
                        <label for="">Nomor Purchase Order</label>
                        {{form.no_pr}}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="">Vendor/Supplier</label>
                        {{form.nama_vendor}}
                    </div>
                    <div class="form-group">
                        <label for="">Deskripsi</label>
                        {{form.deskripsi}}
                    </div>
                    <div class="form-group">
                        <label for="">Email Notifikasi</label>
                        {{form.email}}
                    </div>
                    <div class="form-group">
                        <label for="">Attachment</label>
                        {% if invoice.get_attachment_url != None %}
                        <p style="font-size: 11px ;">
                            Currently : <a href="{{invoice.get_attachment_url}}" download>{{lampiran}}</a>
                        </p>
                        {% endif %}
                        {{form.attachment}}
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <button type="button" onclick="history.back()" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Halaman Department -->
{% endif %}
{% endblock %}