{% extends 'invoice/main.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-file-import"></i>
            </span> {{title}}
        </h3>
        <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{% url 'add_listofclaim' %}" type="button" class="btn btn-gradient-primary btn-icon-text">
                        <i class="mdi mdi-plus btn-icon-prepend"></i> Tambah </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Recent List Of Claim</h4>
                    <div class="table-responsive">
                        <table class="table table-hover" id="myTable2">
                            <thead>
                                <tr>
                                    <th> Created </th>
                                    <th> Nomor List Of Claim </th>
                                    <th> Vendor/Supplier </th>
                                    {% if request.user.username == 'procurement' %}
                                    <th> Nomor Procurement </th>
                                    {% endif %}
                                    <th> Nominal Claim </th>
                                    <th> Status </th>
                                    <th> Pembayaran </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for invoice in invoice %}
                                <tr>
                                    <td>{{invoice.date_created|date:"d/m/Y"}}</td>
                                    <td>{{invoice.no_invoice}}</td>
                                    <td>{{invoice.nama_vendor}}</td>
                                    {% if request.user.username == 'procurement' %}
                                    <td>{{invoice.no_pr}}</td>
                                    {% endif %}
                                    <td>{{invoice.nominal|floatformat:0|intcomma}}</td>
                                    <td>{{invoice.status}}</td>
                                    {% if invoice.status == 'Payment' %}
                                    <td>{{invoice.bayar|floatformat:0|intcomma}}</td>
                                    {% elif invoice.status == 'Payment Kompensasi' %}
                                    <td>{{invoice.bayar|floatformat:0|intcomma}}</td>
                                    {% elif invoice.status == 'Payment Cabang' %}
                                    <td>{{invoice.bayar|floatformat:0|intcomma}}</td>
                                    {% else %}
                                    <td>0</td>
                                    {% endif %}
                                    <td>
                                        {% if invoice.status == 'List Of Claim' %}
                                        <a href="{% url 'update_listofclaim' invoice.id %}"><button type="button"
                                                class="btn btn-inverse-primary btn-rounded btn-icon" title="Update"><i
                                                    class="mdi mdi-pencil"></i></button></a>
                                        <a href="{% url 'delete_listofclaim' invoice.id %}"><button type="button"
                                                class="btn btn-inverse-danger btn-rounded btn-icon" title="Delete"
                                                onclick="return confirm('Are you sure want to delete this claim?')"><i
                                                    class="mdi mdi-delete"></i></button></a>
                                        {% endif %}
                                        <a href="{% url 'detail_listofclaim' invoice.id %}"><button type="button"
                                                class="btn btn-inverse-info btn-rounded btn-icon" title="Detail"><i
                                                    class="mdi mdi-magnify"></i></button></a>
                                        {% if invoice.get_attachment_url != None %}
                                        <a href="{{invoice.get_attachment_url}}" download><button type=" button"
                                                class="btn btn-inverse-info btn-rounded btn-icon" title="Attachment"><i
                                                    class="mdi mdi-file-document"></i></button></a>
                                        {% endif %}
                                        {% if invoice.get_buktitransfer_url != None %}
                                        <a href="{{invoice.get_buktitransfer_url}}" download><button type=" button"
                                                class="btn btn-inverse-danger btn-rounded btn-icon"
                                                title="Bukti Transfer"><i class="mdi mdi-file-check"></i></button></a>
                                        {% endif %}

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}